@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');

* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;

}

body {
    max-width: 1240px;
    margin: 0 auto;
}


/*En-tête de toutes les pages avec le titre et le background orange*/
header h1 {
    padding: 40px;
    padding-bottom: 0px;
    text-align: center;
    background: linear-gradient(#F2B99C, #E36734);
    color: white;
    border-bottom-width: 20px;
    border-bottom-color: #DB5123;
    border-bottom-style: solid;
    margin-bottom: 0px;
    margin: 0px;
    font-family: Roboto slab;
}

.mockup {
    height: auto;
    max-width: 100%;
}

#lostLocation {
    display: table;
    margin: 0 auto;
    font-size: large;
}

.maquette {
    display: block;
    height: auto;
    max-width: 40%;
}

.map {
    height: 200px;
    width: 400px;
    border-radius: 5px;
}

#dropZone {
    text-align: center;
    line-height: 300px;
    font-size: large;
    margin: 0 auto;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

.big_form {
    background: #0fda9d;
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 20px;
    padding: 20px;
    width: auto;
    height: 100px;
    line-height: 65px;
    transition: all 0.2s ease-in-out;
    text-align: center;
    align-content: center;

}

#form_div {
    align-content: center;
    margin: auto;
    width: 33%;
    height: auto;
    border-bottom: 5000px;
    margin-bottom: 12%;
}

.big_form > input {
    font-size: large;
    background-color: #0fda9d;
    text-align: center;
    color: white;
    border: none    ;
}

#game_title {
    text-align: center;
    color: #0fda9d;
}

.black_background {
    background-color: black;
}

#sitemap {
    height: auto;
    max-width: 100%;
}

header nav ul {
    background: #525252;
    padding-left: 10px;
    height: 30px;
    list-style-type: none;
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 20px;
}

header nav ul .active {
    background-color: white;
}

header nav li {
    float: left;
}

/*canvas*/
#mainCanvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/*Fiche signalétique*/
aside {
    margin-bottom: 32%;
    width: 20%;
    flex-grow: 1;
    float: right;
    border: 1px gray;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

aside h3 {
    padding-left: 10px;
    background: #F5763F;
    color: white;
    border: 0px;
    margin: 0px;
    padding: 5px;
}

aside ul {
    padding-left: 20px;
    list-style-type: none !important;
}

#articles {
    width: 78%;
    flex-grow: 1;
    float: left;
}

/*menu des pages non active*/
header nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 15px;
    text-decoration: none;
}


/* la page active*/
header nav li.active a {
    background-color: white;
    color: red;
    font-weight: bold;
}


.hamburger {
    display: none;
}


/*Bordure grise sous le titre de la page*/
#articles h2 {
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    border-bottom-width: 1px;
    margin-bottom: 0px;
}

/*Auteurs du projet avec l'heure*/
#articles header p {
    margin-top: 0px;
    text-align: end;
    color: darkgray;
}


#journalDeBord h2 {
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    border-bottom-width: 1px;
    margin-bottom: 0px;
}


#journalDeBord header p {
    margin-top: 0px;
    text-align: end;
    color: darkgray;
}


#tableauDeBord {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tableauDeBord th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #525252;
    color: white;
}

#tableauDeBord td {
    border: 1px solid #ddd;
    padding: 8px;
}

#tableauDeBord tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tableauDeBord tr:hover {
    background-color: #ddd;
}

footer {
    background: #525252;
    text-align: center;
    padding: 12px;
    margin-top: 20px;
    clear: both;
    position: relative;
    /*z-index: 1;*/
    height: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 1240px;
    bottom: 0 !important;
}

/*taille du logo hes-so*/
footer img {
    max-width: 12%;
    height: auto;
}


/*si en dessous de 800px (mode mobile paysage)*/
@media (max-width: 800px) {

    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        padding-bottom: 115%;
        position: relative;
    }

    aside {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        float: left;
        text-align: center;
        height: auto;

    }


    header h1 {
        font-size: 25px
    }

    #articles {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: auto;
    }


    footer {
        position: absolute;
        bottom: 0;

    }
}


/*si en dessous de 480px (mode mobile portrait)*/
@media (max-width: 480px) {

    html, body {
        height: 100%;
        padding-bottom: 310%;
        position: relative;
    }


    header h1 {
        font-size: 25px
    }

    #articles {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: auto;
    }


    .hamburger {
        display: block;
        text-align: center;
        filter: invert(100%);
    }

    aside {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        float: left;
        text-align: center;
        height: auto;
    }


    header nav ul {
        display: grid;
        width: auto;
        height: auto;
        padding-left: 0px;
    }

    header nav li a {
        text-align: center;
    }


    footer {
        position: absolute;
        bottom: 0;

    }
}














