@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');

* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}


/*En-tête de toutes les pages avec le titre et le background orange*/
header h1{
    padding: 40px;
    padding-bottom: 0px;
    text-align: center;
    background: linear-gradient(#F2B99C, #E36734);
    color: white;
    border-bottom-width: 20px;
    border-bottom-color: #DB5123;
    border-bottom-style: solid;  
    margin-bottom: 0px;
    margin: 0px;
    font-family: Roboto slab;
}

.mockup {
        height: auto;
        max-width: 100%;
}

.maquette {
    height: auto;
    max-width: 50%;
}

header nav ul{
    background: #525252;
    padding-left: 10px;
    height: 30px;
    list-style-type: none;
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 20px;
}

header nav ul .active{
     background-color:white; 
}

header nav li{
    float:left;
}

/*Fiche signalétique*/
aside {
    width:20%;
    flex-grow:1;
    float:right;
    border: 1px gray;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

aside h3 {
    padding-left: 10px;
    background: #F5763F;
    color: white;
    border: 0px;
    margin: 0px;
    padding: 5px;
}

aside ul {
    padding-left: 20px;
    list-style-type: none !important;
}

#articles {
    width: 78%;
    flex-grow: 1;
    float:left;
}

/*menu des pages non active*/
header nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 7px 15px;
    text-decoration: none;
    
}


/* la page active*/
header nav li.active a {
	background-color: white;
	color:red;	
    font-weight: bold;
}


.hamburger{
    display: none;
}


/*Bordure grise sous le titre de la page*/
#articles h2{
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    border-bottom-width: 1px;
    margin-bottom: 0px;
}

/*Auteurs du projet avec l'heure*/
#articles header p{
    margin-top: 0px;
    text-align: end;
    color: darkgray;
}



footer{
    background: #525252;
    text-align: center;
    padding: 12px;
    position:fixed;
    bottom:0;left: 0; right: 0;
}

/*taille du logo hes-so*/
footer img {
      max-width: 12%;
      height: auto;
}




/*si en dessous de 800px (mode mobile paysage)*/
@media (max-width: 800px) {

    html, body {
   margin:0;
   padding:0;
   height:100%;
    padding-bottom: 115%;
    position: relative;
}

    aside {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    float:left;
    text-align: center;
    height: auto;

}



    header h1{
    font-size: 25px
}

     #articles {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
     height: auto;
}


      footer{
          position: absolute;
        bottom: 0;

    }
}



/*si en dessous de 480px (mode mobile portrait)*/
@media (max-width: 480px) {

    html, body {
   height:100%;
    padding-bottom: 310%;
    position: relative;
}


    header h1{
    font-size: 25px
}

 #articles {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
     height: auto;
}


    .hamburger{
    display: block;
    text-align: center;
    filter: invert(100%);
}

    aside {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    float:left;
    text-align: center;
    height: auto;
}


    header nav ul{
    display: grid;
    width:auto;
    height: auto;
    padding-left: 0px;
}

    header nav li a{
       text-align: center;
}


    footer{
        position: absolute;
        bottom: 0;

    }
}














